.contentAbout_wrapper {
  min-height: 1129px;
  background-image: url(../../assets/background2.png);
  background-repeat: no-repeat;
}

.contentAdminPage_content {
  width: 100%;
  height: 535px;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 0 27px;
}

.last_link {
  padding-left: 33%;
}

.admin_article {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: #2C2C33;
  display: flex;
  justify-content: center;
  padding: 15px 0 0 0;
}

.wrapper-article_about {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.btn-back_about  {
  display: flex;
  justify-content: flex-end;
}

.contentAbout_content {
  padding: 30px 98px 0 98px;
}
